/* This will be my css file for all three html files */

body { 
    background: url(../images/ripples.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /*this class belongs to the header container on all pages  */
.headercontainer {
    background-color: white; 
    border-bottom: 2px, solid, #cccccc;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: auto;
    display: block;
}

.namecontainer {
    display: block;
    float: left;
}

/* The h1 tag is the one in the header */
h1 {
    width: 220px;
    padding: 20px;
    border: 5px ;
    margin-left: 20%;
    background-color: #4aaaa5; 
    color: white;
    display: inline-block;  
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: x-large;
}

/* navigation links on all pages */
.ullinks {
    display: inline-block;
    padding: 5px;
}

/* navigation on all pages */
.topnavigation {
    padding: 10px;
    display: inline-block;
    float: right;
    margin-top: 25px;
    color: #999999;
}

/* the h3 elements are the subheadings in all the pages */
h3 {
    color: #4aaaa5;
    border-bottom: 1px solid grey;
    margin: 5px;
    height: 50px;
}

/* this is the container in the index.html file */
.maincontainer {
    background-color: white;
    height: 450px;
    margin-left: 40px;
    margin-right: 40px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
}

/* This is the container in the portfolio.html file */
.portfoliocontainer {
    background-color: white;
    height: 450px;
    margin-left: 40px;
    margin-right: 40px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
}

/* This is the container in the contact.html file */
.contactcontainer {
    background-color: white;
    height: 450px;
    margin-left: 40px;
    margin-right: 40px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
}

/* images are in the about me and portfolio section */
img {
    padding: 10px;
    width: 150px;
    float: left;
    margin-top: 10px;  
    margin-right: 15px;
  }

p {
    color: #777777;
    line-height: 2;
    margin-bottom: 20px;
    display: block;
}

/* sticky footer on all pages */
  footer {
      background-color: #666666;
      position: fixed;
      text-align: center;
      width: 100%;
      bottom: 0px;
  }


.formpart {
    width: 75%;
}

/* Media queries will take effect once the screen is at 575 */
@media(max-width: 575px) {
    h1 {
        padding: 0px;
        width: 100%;
        margin: 0px;
        display: block;
    }
    .namecontainer {
        text-align: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    p {
        clear: both;
    }

    img {
        width: inherit;
    }

    ul {
        text-align: center;
        padding: 0px;
    }

    .headercontainer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

}